.todos {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
}

.todos li {
  background-color: #dcd6f7;
  min-width: 400px;
  list-style: none;
  padding: 8px 16px;
  color: #424874;
  border-radius: 4px;
  font-size: 20px;
}

.todo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.icon {
  margin-left: 12px;
}

.done {
  text-decoration: line-through;
}

.edit-input {
  background-color: transparent;
  border: none;
  border-bottom: 2px solid white;
  color: inherit;
  font-size: inherit;
}
